/*Estilos Para Comentarios*/

#main 
	#articles_list 
		#comentarios
			margin-bottom 40px
			margin-right 4%
			
			h3  
				font-size 1.3rem
				font-family "Raleway", "noto-sans", helvetica
				font-weight 500
				margin-bottom 20px
				color #333333
				
			#caja_comentarios
				p 
					color #fff
					
				textarea 
					width 97%
					padding 10px
					height 100px
				input[type="submit"]
					background #bf2222
					color #fff
					margin-top 10px
					border 0px 
					padding 10px
					&:hover
						text-decoration underline 

.comment-awaiting-moderation
	color #fff
	
#comments
	color #333
	font-family 'Raleway',Arial, sans-serif
	font-weight 500
	margin-bottom 20px
	
.comment-body 
	margin-bottom 20px
	padding-bottom 20px
	border-bottom 1px #333 solid
	a 
		font-size 12px
.comment-author
	color #fff
	font-style normal
	
	cite 
		font-style normal 
	
.reply 
	a
		background #bf2222
		color #fff
		display inline-block
		padding 10px
		margin-top 10px	

#respond 
	h3
		color #333
		

































