/*
Theme Name: My Blog
Theme URI: www.miweb.com
Descripcion: descripcion del tema
Version: 1
Author: auto
Author URL: direccion web del autor
*/
*
	margin 0
	padding 0
body 
	background #191919
	font-size 12pt
	font-family: "arial"

.Header
#main
.Footer
	width 85%
	max-width 960px
	margin 0 auto

a
	color #bf2222
	text-decoration none
	&:hover
		text-decoration underline	

.widget
	margin-bottom 50px	
	display block 
	float left
	
	h3 
		font-size 1.4rem
		font-family "Raleway", arial , helvetica
		font-weight 400
		color #333333
		margin-bottom 10px
	
	ul	

		li 
			list-style: none
			margin-bottom 10px
			
			a
				font-family "Raleway", arial , helvetica
				color #777777
				&:hover
					color #bf2222
					text-decoration none

.Header
	margin-top 20px
	margin-bottom 20px
	overflow hidden
	
	&-logo
		width 40%
		float left
		p
			font-family "Raleway", helvetica
			font-size 4rem
			font-weight 100
			text-align left
			color #fff
		span
			text-align center
			width 100%
			display block
			position: relative
			font-weight 400
			right 20px
			margin-bottom 10px
			color #fff
	nav 
		width 60%
		float right
		padding 10px 0px
		margin-top 30px
		
		ul
			float right
			li
				list-style none
				display inline-block
				margin-left 30px
				margin-bottom 10px
				a 
					font-family "Raleway", helvetica, arial
					font-weight 300
					font-size 1.3rem
					color #fff 
					&:hover
						color #bf2222
	
#main 
	overflow hidden
	
	#slideshow
		width 100%
		float left
		overflow hidden
		margin-bottom 20px
		
		
		.thumb
			width 39%
			float left
			margin-right 2%
			
			a
				img 
					height 100%
					width 100%
				
		article
			float left
			font-family "open sans", arial 
			font-size 1rem
			text-align justify
			width 49%
			color #fff
			
			h2
				font-family "Raleway", arial
				font-size 2rem
				font-weight 300
				text-align left
				
			.date
				display inline-block
				font-family "Raleway", arial, helvetica
				font-size .8rem
				font-weight 500
				margin-bottom 10px
				color #777777
			.post-categories
				display inline-block
				list-style: none
				
		.slidesjs-pagination
			li
				background #fff
				width 20px
				height 20px
				margin-right 10px
				display inline-block
				outline none
				
				.active
					background #333333
				
				a 
					outline none
					width 20px
					height 20px
					display block
					font-size 0px 
	
	#articles_list
		clear both
		width 75%
		float left
		
		article 
			margin-bottom 40px
			margin-right 4%
			padding-bottom 40px
			border-bottom 1px solid #333333
			overflow hidden
			
			.thumb
			
				width 35%
				margin-right 4%
				float left
				margin-bottom 2%
				
				a 
					img
						width 100%
						height 100%
			
			h2
				font-family "Raleway", arial, helvetica
				font-size 1.5rem
				font-weight 300
				
				a
					color #fff
					&:hover 
						text-decoration none
						color #bf2222
			.extract
				text-align justify
				color #fff
				
			.date
				font-size .8rem
				color #777777
				margin-bottom 10px
				
				ul
					list-style: none 
					display inline-block
				
		#pagination 
			margin-bottom 40px
			width 100%
			
			p 
				text-align center
				
				a
					margin: 0 20px
					font-size 1.5rem
					font-family "Raleway",arial , helvetica
					font-weight 300
					display inline-block 
					
	aside 
		width 25%
		float left
		
		.widget
			width 100%
		
.Footer 
	width 85%
	#ft_widget
		.widget
			width 25%	
	#copyright
		width 100%
		clear both
		text-align center
		padding 10px
		color  #333333
		font-family "Raleway", arial , helvetica
		font-size .9rem
		
/*Blog */

#main 
	#articles_list
		#cat_name
			color #333333
			border-bottom 1px solid #333333
			font-family "Raleway", "Noto-sans" , arial , sans-serif
			font-size 2rem
			font-weight 500
			margin-bottom 30px
			margin-right 30px
			padding-bottom	 10px

/*Comentarios*/ //Borrar

#main 
	#articles_list 
		#comentarios
			margin-bottom 40px
			margin-right 4%
			
			h3
				font-size 1.3rem
				font-family "Raleway", "noto-sans", helvetica
				font-weight 500
				margin-bottom 20px
				color #333333
				
			#caja_comentarios
				height 70px
				background #ccc
				
				

				
@import "/css/responsive.styl"











